*{
    margin: 0;
    padding: 0;
}
body{
    background-color:grey;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 8vmin;
    background-color: rgb(248, 247, 247);
    color:rgb(172, 34, 4);
    
}
#rst{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191919;
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0);
}
#new-btn{
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color: #191919;
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0); 
}
#msg{
    color: rgb(255, 251, 3);
    font-size: 8vmin;
    text-shadow: #191919;
}
.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}
.hide{
    display: none;
}
